*.txt
*.exe
*.md
*.replit
*.nix
*.ilk
*.pdb
*.out
*.app
*.lai
*.la
*.a
*.lib
*.mod
*.smod
*.so
*.dylib
*.dll
*.obj
*.o
*.lo
*.slo
*.d
*.cbp
*.layout
*.depend

build/
.vscode/
.vs/
.idea/
.obj/
.bin/
.ccls-cache/
cmake-build-debug/
cmake-build-debug-mingw/
cmake-build-relwithdebinfo/
cmake-build-release/
cmake-build-minsizerel/
cmake-build-default/

